<h2 mat-dialog-title> Cadastro de Usuários</h2>

<form [formGroup]="form" (ngSubmit)="onFormSubmit()">
    <div mat-dialog-content >
        <div class="content">
            <mat-form-field appearance="outline">
                <mat-label>Nome</mat-label>
                <input matInput type="text" class="simple-form" formControlName="name">
                
            </mat-form-field>
            
            <div *ngIf="!editing">
                <mat-form-field appearance="outline">
                    <mat-label>Descrição do Perfil</mat-label>
                    <input matInput type="text" class="simple-form" formControlName="description">
                </mat-form-field>
            </div>
        </div>

    </div>

    <div mat-dialog-actions class="btn">
        <button mat-raised-button>Cancelar</button>
        <button mat-raised-button color="primary" type="submit" (click)="onFormSubmit">Salvar</button>
    </div>
</form>